langchain
langgraph
langchain-groq
langchain-google-genai
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langgraph-cli[inmem]
langchain-litellm
faiss-cpu
wikipedia
arxiv
python-dotenv
pageindex
litellm